// {
//   "env": {
//     "browser": false,
//     "commonjs": true,
//     "es6": true,
//     "node": true,
//     "jest": true
//   },
//   "globals": { "vscode": "readonly" },
//   "parserOptions": {
//     "ecmaVersion": 2020,
//     "sourceType": "module"
//   },
//   "extends": "standard",
//   "plugins": ["jest"],
//   "rules": {
//     "no-const-assign": "warn",
//     "no-this-before-super": "warn",
//     "no-undef": "warn",
//     "no-unreachable": "warn",
//     "no-unused-vars": "warn",
//     "constructor-super": "warn",
//     "valid-typeof": "warn",
//     "consistent-return": "off",
//     "max-len": "warn"
//   }
// }

{
  "env": {
    "browser": false,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": ["plugin:prettier/recommended"],
  "globals": { "vscode": "readonly" },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["prettier", "jest"],

  "rules": {
    "prettier/prettier": "error"
  }
}
