@font-face {
	font-family:"KaiTi";
	src:url("KaiTi.ttf");
	font-weight: normal;
	font-style: normal;
}

.OxfordDictionaries {font-size:15px; line-height:130%; font-family: Helvetica, "Product Sans",Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";}

#OLang {display:inline;font-variant:small-caps;font-size: 60%;color: gray;background-color:white;border-radius: 0.2em;border: 1px solid gray;padding: 0 0.2em;margin: 0 0.13em;float:right;}

.OxfordDictionaries li {
    list-style: none;
}

span[lang="zh"]{
	white-space:pre-wrap;
}

.pageTitle {
    font-size: 1.5em;
    font-weight: bold;
    color: brown;
    line-height: 1em;
    margin: 0;
    word-wrap: break-word;
    font-style: normal;
}
 
.OxfordDictionaries a{
    color:  darkblue;
    /*cursor: pointer;*/
    text-decoration: none;
    -webkit-transition: color 0.4s ease, background-color 0.4s ease;
    -moz-transition: color 0.4s ease background-color 0.4s ease;
    -o-transition: color 0.4s ease background-color 0.4s ease;
    transition: color 0.4s ease background-color 0.4s ease;
}

/*------------------------------------*\
    HEADER
\*------------------------------------*/
#header {
    background:#fff;
    padding:0.5em 0;
}


.inline li {
    display:inline-block;
}
#keyboard {
    text-align:center;
    display:none;
    background:#ddd;
    position:absolute;
    z-index:2;
    top:2.3em;
    height:1.5em;
    margin-top:0;
    box-shadow:0 0.2em 0.2em rgba(0, 0, 0, 0.3);
    left:6em;
    white-space: nowrap;
}

#keyboard a {
    color:#444;
    cursor:pointer;
    padding:0.33em 0.13em 0.13em 0.13em;
    display:inline-block;
}

#keyboard_icon, #keyboardsListBtn{
    color:#777;
    font-size:1.2em;
}


/*------------------------------------*\
    HOME
\*------------------------------------*/

h2 a,
.prx {
    color: #000;
	font-size:0.9em;
}

.prx a {
	color:black;
}

.prx a:hover {
	text-decoration:none !important;
}

.contentBlock {
    background: #fff;
    border: solid 0.05em #e1e1e1;
    padding: 1em;
}

.contentBlock .blockSubject {
    padding-bottom: 0.7em;
    border-bottom: 0.01em solid #000;
}

.contentBlock .subject {
    color: #494949;
    display: block;
    font-size: 0.8em;
    margin-bottom: 0.33em;
    text-align: center;
    text-transform: uppercase;
    word-wrap:break-word;
}

.contentBlock .subject em,
.prx {
    font-style:normal;
    font-family:Arial;
}

.contentBlock .blockBody {
    display:block;
    padding:1em 0;
    position:relative;
}

.miniBlock,
.contentBlock.miniBlock .blockBody{
    padding:0;
    
}

.contentBlock .blockLinks li {
    margin: 0.33em 0;
}

.contentBlock h2,
.quizTitle {
    text-align: center;
}

.contentBlock p {
    color: #494949;
    
    margin-bottom: 0;
}

.contentBlock hr {
    border: 0;
    border-top: solid 0.01em #e1e1e1;
    margin: 0 auto 1.3em auto;
}

.contentBlock .readMore ,.contentBlock .signup,.contentBlock .readMoreInside{
    background: #dbf3fd;
    border-top: solid 0.01em #e1e1e1;
    font-style: italic;
    margin: -1em;
    margin-top: 0;
    text-align: center;
}
.contentBlock .signup{
    font-style:normal;
    font-weight:bold;
    text-align: center;
}

.contentBlock .readMoreInside{
	text-align: center;
}

.contentBlock .readMoreInside a{
    margin-right: 0.5em;
}

.contentBlock .readMore .icon-arrow-right ,.contentBlock .signup .icon-arrow-right {
    opacity: .5;
}

.contentBlock .readMore a, .contentBlock .signup a , .readMoreInside a{
    display: inline-block;
    padding: 0.33em;
}

.contentBlock .readMore .icon {
    display: inline-block;
    font-size: 1.1em;
    margin: 0;
    vertical-align: bottom;
}

.contentBlock .icon {
    background-color: #99e5fa;
    border-radius: 2.7em;
    color: #fff;
    display: block;
    margin: 0 auto 0.4em auto;
    padding: 0.33em;
    text-align: center;
    width: 1.9em;
    height: 1.9em;
}

.contentBlock .icon img {
    display: block;
}

.contentBlock .imgBlock {
    margin:-1em;
    margin-bottom:0;
}

.contentBlock.miniBlock .imgBlock{
    margin: -0.67em;
}

.contentBlock .imgBlock img {
    width:100%;
    vertical-align:middle;
}

.home .contentBlock h2,.home .contentBlock .figure {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}

.home .contentBlock h4,
.home .contentBlock h5{
    color:#fff;
    font-weight:normal;
}

.colorHomeBlock p,
.qotwBlock p,
.wotdBlock p,
.premiumBlock p,
.colorHomeBlock h2,
.qotwBlock h2,
.wotdBlock h2,
.premiumBlock h3,
.colorHomeBlock h2 a,
.qotwBlock h2 a,
.wotdBlock h2 a,
.premiumBlock h3 a,
.colorHomeBlock .subject,
.qotwBlock .subject,
.wotdBlock .subject,
.premiumBlock .subject,
.colorHomeBlock a,
.qotwBlock a,
.premiumBlock a,
.premiumBlock .h3Upsell{
    color: #fff;
    text-align: center;
}

.colorHomeBlock .readMore a,.premiumBlock .readMore a, .wotdBlock a {
    color: #fff;
}

.colorHomeBlock .icon,.qotwBlock .icon,.wotdBlock .icon,.premiumBlock .icon {
    background-color: #fff;
}

.statBlock {
    text-align: center;
}

.statBlock a {
    color: #FFFFFF;
}

.statBlock span.big {
    font-size: 2.4em;
    font-weight: bold;
    display: block;
}

.statBlock span.alt {
    font-size: 1.2em;
    font-weight: bold;
    display: block;
}

.qotwBlock {
    color:#fff;
    word-wrap:break-word;
    background: #00aaad;
    text-align:center;
}

.qotwBlock .icon {
    background: #00aaad;
}

.qotwBlock .readMore {
    background: #018e90;
    border-top: solid 0.01em #018486;
}

.wotdBlock {
    background: #f78e1e;
    color: #fff;
}

.wotdBlock .icon {
    background-color: #de780a;
}

.wotdBlock .pos{
    text-transform:uppercase;
    margin-bottom:0.33em;
}

.wotdBlock .pron{
    margin-bottom:0.33em;
    text-align:center;
}

.wotdBlock .readMore {
    background: #de780a;
    border-top: solid 0.01em #d4730a;
}

.wotdBlock  .signup{
    background: #f05e22;
    border-top: solid 0.01em #d4730a;
}

.socialBlock .signup{
    background: #003065;
    border-top: solid 0.01em #02A4D3;
    font-size: 0.9em;
}

.wotdBlock .readMoreInside {
    background: #f78e1e;
    border: none;
    font-style:normal;
    text-align: right;
    margin: 0.33em 0 0 0;
}

.wotdBlock .findOut{
    font-style:normal;
    text-align: right;
}
.socialBlock {
    background: #02A4D3;
}

.socialBlock h2{
    background: #02A4D3;
    display: table;
    padding: 0 0.33em;
    text-transform: uppercase;
    position: relative;
    margin: 0 auto -1em auto;
}

.socialBlock .socialBlockSet{
    text-align: center;
    border: 0.1em solid #fff;
    border-radius: 0.33em;
    padding: 1em 0;
}

.socialBlock .socialBlockSet .icon{
    height:3em;
    width:3em;
    display:inline-block;
    margin:0.3em;
    background-size:cover;
}

.yellowBlock .readMore {
    background-color: #fff8db;
}

.yellowBlock .readMore a {
    color: #b1892c;
}

.yellowBlock .icon {
    background-color: #ffd430;
}

.redBlock .readMore {
    background-color: #ffeee8;
}

.redBlock .readMore a {
    color: #850910;
}

.redBlock .icon {
    background-color: #feb69c;
}

.greenBlock .readMore {
    background-color: #f9fde6;
}

.greenBlock .readMore a {
    color: #94a818;
}

.greenBlock .icon {
    background-color: #d9e783;
}

.pinkBlock .readMore {
    background-color: #FFDFDD;
}

.pinkBlock .readMore a {
    color: #FAAFBE;
}

.pinkBlock .icon {
    background-color: #FAAFBE;
}

.purpleBlock .readMore {
    background-color: #f9edf6;
}

.purpleBlock .readMore a {
    color: #890f6a;
}

.purpleBlock .icon {
    background-color: #dd9acc;
}

.premiumBlock {
    background: #fec807;
    border: solid 0.01em #ce9305;
}

.premiumBlock h3,
.premiumBlock h3 a,
.premiumBlock .h3Upsell,
.premiumBlock .h3Upsell a {
    color: #606060;
    font-size: 2.3em;
    
}
.premiumBlock.miniBlock h3,
.premiumBlock.miniBlock h3 a,
.premiumBlock.miniBlock .h3Upsell,
.premiumBlock.miniBlock .h3Upsell a{
    font-size: 2.1em;
    
}

.premiumBlock p,.premiumBlock .subject {
    color: #606060;
}

.premiumBlock .icon {
    background-color: #fec807;
}

.premiumBlock .readMore {
    background: #e3a307;
    border-top: solid 0.01em #d99c07;
}
.premiumBlock.miniBlock,
.trendingWordsPanel.miniBlock,
.wotdBlock.miniBlock,
.relatedBlock.miniBlock{
    padding:0.67em;
}
.trendingWordsPanel .trendingWords,
.miniBlock.premiumBlock .readMore,
.miniBlock.wotdBlock .wotdSubBlockBody,
.miniBlock.wotdBlock .readMoreInside,
.miniBlock.wotdBlock .readMore,
.miniBlock.wotdBlock .signup,
.blogPanel .miniBlock .blockBody,
.blogPanel .miniBlock .readMore {
    display:none;
}

.blogPanel .miniBlock .blockBody h2{
    display: block;
}

.trendingWordsPanel .trendingWordsCountry{
    margin-top:0.67em;
    padding:0.33em;
}
.trendingWordsPanel.miniBlock .countries h3,
.trendingWordsPanel.miniBlock .countriesNavMenu li{
    font-size: 1.2em;
}
.trendingWordsPanel li{
    color:#aaa;
    list-style:decimal;
    margin-left:1.2em;
    padding-left:-0.33em;
    word-wrap:break-word;
}

.trendingWordsPanel a{
    text-decoration: underline;
}
.trendingWordsPanel.miniBlock a,
.trendingWordsPanel.miniBlock .countries .countriesNavCurrent span{
    text-decoration: none;
    color: #1582c2;
}

.trendingWordsPanel .legend{
    text-align: center;
    margin-top:0.33em;
}

.trendingWordsPanel .country{
    font-size:0.8em;
    padding-right:0.5em;
}

.twitter .contentBlock{
    background: #fff;
    text-align:center;
}

.twitter-timeline{
    min-width: 0!important;
}

.contentBlock.rootFormBlock h3,
.contentBlock.rootFormBlock .subject{
    text-align: left;
}

/*------------------------------------*\
    ENTRY
\*------------------------------------*/
.entryPageContent .verbTableLink{
    background-color:#dbf3fd;
    display:block;
    padding:0.67em;
    margin-bottom:0.5em;
    border-radius:0.2em;
}
.entryPageContent .verbTableLink:hover{
    text-decoration:none;
    background-color:#c5e7f5;
}

.secondaryPageContent h2,
.secondaryPageContent h3,
.countriesNavMenu .country,
.countriesNavCurrent,
.h2TitleRss,
.quizTitle {
        font-size: 1.2em;
}

.secondaryPageContent img {
    max-width: 100%;
}

.secondaryPageContent .relatedBlock {
    padding-left: 0;
    padding-right: 0;
}

.secondaryPageContent .relatedBlock h3 {
    font-size: 0.8em;
    line-height:1.1em;
    text-transform: uppercase;
    color: #494949;
    margin: 0.2em 0 0.5em 0;
}

.relatedBlock h4,
.relatedBlock .h4RelatedBlock {
    font-size: 1.2em;
    font-weight: normal;
    text-align: center;
    padding: 0 1em 1.33em 1em;
    border-bottom: 0.01em solid #e1e1e1;
    word-wrap: break-word;
}

.relatedBlock.miniBlock h4,
.relatedBlock.miniBlock .h4RelatedBlock{
    padding-bottom: 0.33em!important;
    margin-bottom: 0.33em;
}

.secondaryPageContent .relatedBlock h4,
.secondaryPageContent .relatedBlock .h4RelatedBlock  {
    font-weight: bold;
    padding: 0 0 1em 0;
}

.secondaryPageContent .relatedBlock h4:nth-of-type(n+2),
.secondaryPageContent .relatedBlock .h4RelatedBlock:nth-of-type(n+2) {
    margin-top: 1.33em;
}

.secondaryPageContent .relatedBlock ul {
    margin: 0.4em 0 0.5em 0;
}

.rssPanel .miniBlock div{
    position: relative;
}

.rssPanel .crop{
    height: 10em;
    background: no-repeat center center;
    background-size: cover;
}

.rssPanel .miniBlock h2,
.rssPanel .miniBlock .h2TitleRss{
    padding: 0.33em 0.67em;
    min-height: 2.33em;
    color: white;
    margin-top: -2.33em;
    margin-bottom: 0;
    background: #1582c2;
}

.secondaryPageContent .relatedBlock a {
    color: #494949;
    
    padding: 0.5em 1.33em 0.5em 0.67em;
    width: 100%;
    display: inline-block;
    background-position: left center;
    border-left: 0.3em solid transparent;
    word-wrap:break-word;
}

.relatedBlock.miniBlock a{
    padding: 0.33em 0.67em;
    color: #1582c2;
    
}

.secondaryPageContent .relatedBlock a b{
    color: #777;
}

.secondaryPageContent .relatedBlock a:hover {
    border-left:0.3em solid #00aaad;
    background:#e7f9f9 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAALCAYAAABPhbxiAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QwbCA0Ke/ReJQAAAKZJREFUKM+VkjEOQVEQRc+orEFUYgEqheIXNBLdJNNYAGui0YjCi+kkGrVCYQNCIzagUI4KicZ7t5vi5NzMjLDeVMAjTE8UpAY8gbEkbxeBYXoEHJhI8laJkTA9ADtgKskbOaBExHdIPgI6wCpMr3+N74TpFmgCg6yqP8YbsM8GJXkfqIDFv5ofUJL3gCEwC9N71lYleRdQYB6ml5Jz1IFlmJ5LHuAFlXAyDME72VAAAAAASUVORK5CYII=") no-repeat;
    background-position: right center;
}

.secondaryPageContent .relatedBlock .expandable a {
    display:block;
    width:auto;
}

.secondaryPageContent .relatedBlock ul ul {
    display:none;
    padding-left:1.33em;
}

.secondaryPageContent .relatedBlock .toggle {
    float:left;
    font-size: 0.8em;
    color: #777;
    padding:0.8em 0.33em 0.8em 0.67em;
}

.secondaryPageContent .relatedBlock .resultListLink em {
    font-style:normal;
    font-weight:bold;
}

.entryHeader {
    margin-bottom:0.5em;
    margin-top:0.5em;
}

.icon-audio{
    width:2em;
    color:#95c7e6!important;
    cursor:pointer;
	font-size:0.8em;
}

.rsplaying .icon-audio:before {
    display:inline-block;
    -webkit-animation: fa-spin 2s infinite linear;
    -ms-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    content: "\e618";
}

@-webkit-keyframes fa-spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); }
}

@-ms-keyframes fa-spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(359deg); }
}

@keyframes fa-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

.icon-audio:hover,
.rsbtn_play:hover .icon-audio{
    color:#04adff!important;
}

.entryHeader .pronAudio:hover,
.trendingWords .countriesNavMenu .country {
    text-decoration:none;
}

.sharePanel {
    position: relative;
    text-align: center;
    border: 0.1em solid #aaa;
    border-radius: 0.2em;
    float: right;
    margin-top: 0.33em;
    margin-bottom: 0.67em;
    margin-left: 0.67em;
    padding: 0 0.2em;
    display: table;
}

.sharePanel .shareButtonSet{
    margin-bottom:-1.33em;
}

.sharePanel .link{
    vertical-align: middle;
    display: table-cell;
    padding-left:0.33em;
    padding-right:0.33em;
    background-color: #fff;
    margin: 0.33em;
}

.sharePanel .h4sharePanel {
    text-transform: uppercase;
    font-size: 0.6em;
    background-color: #fff;
    
    position: relative;
    top: -0.2em;
    letter-spacing: 0.05em;
    padding: 0 0.33em;
    margin: 0 1.2em;
}

.sharePanel .shareMoreOpen {
    width:16em;
    display:none;
    border:0.1em solid #2881C0;
    border-radius:0.67em;
    background:#fff;
    position:absolute;
    top:3.33em;
    right:0.1em;
    z-index:1;
}

.sharePanel .shareMoreOpen .link{
    display: inline-block;
}

.sharePanel .shareMore {
    cursor: pointer;
}

.sharePanelOpen .shareMoreOpen{
    display: block;
}

.sharePanel .shareMoreOpen{
    text-align: center;
}

.sharePanel .shareMoreOpen:after, .shareMoreOpen:before{
    content: ' ';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
}

.sharePanel .shareMoreOpen:before{
    border-color: transparent transparent #2881C0 transparent;
    border-width: 0 0.67em 0.67em 0.67em;
    left: 14em;
    top:-0.67em;
}

.sharePanel .shareMoreOpen:after{
    border-color: transparent transparent #fff transparent;
    border-width: 0 0.5em 0.5em 0.5em;
    left: 14em;
    top:-0.5em;
}

.sharePanel .withLabels, .mobileShare .withLabels {
    font-size: 1.1em;
    border-top: 0.1em solid #ccc;
    padding: 0.5em 0;
}

.pageTitle .homograph {
    font-size: 0.8em;
    height: 1.33em;
    width: 1.33em;
    font-style: normal;
    padding-top: 0.2em;
    vertical-align: top;
}

.senseGroup h1:first-child,
.senseGroup h2,
.senses .h2,
.senses h1 {
    color: #505050;
    display: inline-block;
    font-size: 1em;
    margin-right: 1em;
    
    margin-bottom: 0;
}

.sensesLinks {
    display: inline-block;
}

.sensesLinks li {
    display: inline-block;
}

.sensesLinks a {
    margin-right: 0.2em;
    text-decoration: none;
}

.active-homograph,.pageTitle .homograph,.homograph.active,.homograph:hover {
    position: relative;
    text-decoration: none;
}

.homograph {
    border-radius: 1.33em;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    height: 1.6em;
    width: 1.6em;
    
    padding-top: 0.2em;
    text-align: center;
    text-decoration: none;
}

.homograph.active:after,.homograph:hover:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-top: 0.3em solid #00bdf2;
    position: absolute;
    bottom: -0.2em;
    left: 50%;
    margin-left: -0.2em;
    z-index: 2;
}

.speaker {
    display: inline-block;
}

.leftHandMain,
.entryPageContent,
.generalMainContent,
.moreResultsContent,
.wordListContent {
    background: #fff;
    color: #000;
    /*border-top: solid 0.1em #e1e1e1;*/
    margin-bottom:1em;
}

.leftHandMain a:hover,
.entryPageContent a:hover,
.generalMainContent a:hover,
.moreResultsContent a:hover,
.wordListContent a:hover {
    text-decoration: underline;
}

.entryPageContent {
    word-wrap:break-word;
    padding:0;
}

.entryPageContent .definition {
    margin-bottom: 0.33em;
}

.entryPageContent .homograph:hover {
    text-decoration: none;
}

.entryPageContent .exampleGroup {
    display: block;
    font-size: 1em;
}

.entryPageContent .exampleGroup .trg,
.entryPageContent .exampleGroup .tr,
.entryPageContent .exLabel {
    color: #1582c2;
    font-style: normal;
    font-size: 1.1em;
}

.entryBilingual .exampleGroup .trg,
.entryBilingual .exampleGroup .tr,
.entryBilingual .tp,
.entryBilingual .tr{
    color: #000;
    font-style: normal;
    font-size: 1em;
}

.entryBilingual .sp{
    color: #000;
    font-weight: bold;
    font-size: 1.1em;
}

.entryBilingual .trnoprecex{
    font-size: 1em;
}

.entryBilingual {
    color: #0033AA;
	font-style:normal;
}

div[lang="en"].entryPageContent .exampleGroup .ex,  div[lang="en"] .exampleGroup .con {
 	color:black;
 	font-style:italic;
 }
 
 div[lang="zh"].entryPageContent .exampleGroup .ex,  div[lang="zh"] .exampleGroup .con {
 	color:black;
 	font-family:KaiTi, serif;
 }
 
 .entryPageContent .exampleGroup .ex i, .exampleGroup .con i {font-style:normal;} 

.entryPageContent .exampleGroup ,
.chinese-english .entryPageContent .exampleGroup .tr,
.english-chinese .entryBilingual .exampleGroup .example .con  {
    display:block;
}


.entryPageContent .exampleGroup .exLabel_container {}

.trg {
	display:inline;
	padding:0 0.5em;
}

.exLabel_container {
    /*display:block;*/
}

.entryPageContent .senseInnerWrapper > .trg {
    /*margin-bottom: 0.33em;*/
}

.entryPageContent .example:before,.entryPageContent .sentence:before {
    content: "‘";
}

.entryPageContent .example:after,.entryPageContent .sentence:after {
    content: "’";
}

.spanish .entryPageContent .example:before, .spanish .entryPageContent .example:after {
    content: "";
}

.entryPageContent .transivityStatement {
    display: block;
    font-size: 0.7em;
    font-style: normal;
    text-transform: uppercase;
}

.entryPageContent .sense-entry li>.senseInnerWrapper {
    padding-left: 0;	
}

.entryPageContent .senseGroup .subsense,
.entryPageContent .subEntry .subsense {
    position:relative;
    padding-left: 2em;
    margin-top: 0.33em;
}

.entryPageContent .senseGroup .pgr,
.entryPageContent .subEntryBlock .pgr {
    font-style:normal;
}

.entryPageContent .senseGroup .gr ,
.entryPageContent .phrasesSubEntryBlock .gr {
    color:#888;
    font-weight:normal;
}

em .gr .pgr {color:black;}

/*.subEntryBlocks dl em .gr .pgr {
	color:black;
	font-weight:normal;
	margin-left:-1em;
	padding-right:1.5em;
}*/

.subsense em .gr .pgr {
	margin:0;
	padding:0;
}

.entryPageContent .subEntryBlocks .subsense {
    margin-left: 0;
}

.entryPageContent .subEntryBlocks .subsense .CrossLinkPanel{
    margin-left: -1.33em;
}

.entryPageContent .senseInnerWrapper .transivityStatement,
.entryPageContent .pageTitle .variantGroup .transivityStatement,
.entryPageContent .senseGroup .transivityStatement {
    display: inline;
}

.entryPageContent .moreInformation {
    margin-top: 0.33em;
}

.entryPageContent .linkOtherDictionaries {
    margin: 0.67em 0 0.67em;
}

.entryPageContent .moreInformation>a, .entryPageContent .linkOtherDictionaries {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAGCAYAAAD37n+BAAAAfklEQVQY04XNMQ5BQQCE4W+fSusELrBxA1fw5JWbKNQaDkKjVkj2II4gewEthVZFFLZQvDDd/DOZCXKZIkjx5Jc+PQ2uaOXS/ijPMMctVDDCBhccpPiqvMESY2yleA9fK0OsMMCu0jWe2EvxAaHnfoFJdWcpHv1VLp1cur7oDW2tIVadzWmtAAAAAElFTkSuQmCC) no-repeat 98%;
    color: #818080;
    display: block;
    font-size: 0.9em;
    border-top: solid 0.1em #ddd;
    border-bottom: solid 0.1em #ddd;
    padding: 0.2em 0.67em;
    text-transform: uppercase;
}

.entryPageContent .moreInformation>a.current, .entryPageContent .linkOtherDictionaries.current {
    background: #e1e1e1 url("blue-arrow-up.png") no-repeat 98%;
}

.entryPageContent .moreInformation>a:hover {
    color: #555;
}

.entryPageContent .moreInformation .moreInformationSynonyms {
    border-bottom: solid 0.1em #ddd;
}

.entryPageContent .variant {
    font-weight:bold;
}

.entryPageContent .variantGroup {
    font-weight:normal;
    display:block;
}

.entryPageContent .pageTitle .variantGroup,
.entryPageContent h4 .variantGroup {
    display:inline;
}

.entryPageContent .prx {
    display:inline;
}

.entryPageContent .frm {
    display:inline;
    font-weight:bold;
    font-size:1.1em;
    color:#000;
}
.frmg {
    padding-bottom: 0;
}
.german-english .entryHeader{
    margin-bottom: 0.33em;
}
div[data-dict="german-english"] .frmg {
    margin-bottom: 1.33em;
}
div[data-dict="german-english"] .frm {
    font-size:0.9em;
}
div[data-dict="german-english"] .cv {
    font-size:1.33em;
}
.etymology {
    margin-bottom: 0.67em;
}

.etymology .senseInnerWrapper {
    padding-left: 0;
}

.etymology h2, .etymology .h2InOther {
    border-top: solid 0.2em #000;
    margin-bottom: 0.33em;
    padding-top: 0.2em;
}

.subEntryBlock {
    /* margin: 1em 0;*/
}

/*.subEntryBlock h2,*/.subEntryBlock > h3,.etymology h3 {
    border-top: solid 0.2em #000;
    margin-bottom: 1em;
    padding-top: 0.33em;
}

.subEntryBlock h2 {
	/*border-top: solid 0.1em #006699;*/
    margin-bottom: 0.33em;
    margin-top: 0;
    font-size:1.1em;
    color:#f15a24;
    font-weight:bold;
}



.subEntryBlock .related {
    font-weight:bold;
}

.subEntryBlock .related .lg {
    font-weight:normal;
}

.senseGroup {
    /*border-top: solid 0.1em #000;*/
    padding-left: 1.5em;
    position: relative;
    margin:0.3em 0;
}

.spanish .etym, .spanish .note, .spanish .sense-note, .entryBilingual .feature{
    background-color:#dbf3fd;
    padding:0.67em;
    position:relative;
    margin-bottom:0.33em;
}

.senseGroup>.sense-entry {
    border: 0;
}

.iteration {  /*义项序号格式*/
    color: black;
    font-size: 0.95em;
	font-weight:bold;
    margin-left: -2em;
    width:1.5em;
    display:inline-block;
    text-align:right;
    /*position: absolute;*/
}

.iteration:after {content:".";}

.senseInnerWrapper .arabic {
    margin-top:0.4em;
}
.senseGroup:first-child {
    margin-top: 0;
}

.senseGroup .back-to-top {
    color: #807e7e;
    font-style: italic;
    font-size: 0.95em;
    margin-top: 0.2em;
    position: absolute;
    right: 0;
    top: 0;
}

.senseGroup .back-to-top .icon-arrow-up {
    color: #00bdf2;
    margin-left: 0.2em;
    opacity: .6;
    font-size: 1.33em;
    vertical-align: middle;
}

.senseGroup .cnt {
    color: #27a058;
    font-variant: small-caps;
	font-size:90%;
}

.sense-entry {
    /*border-top: solid 0.2em #000;*/
    /*margin-bottom: 0.33em;*/
    margin:0.5em 0;
    padding-top: 0;
    position: relative;
	padding-left:0; 
}

.sense-entry.first {
    border-top: 0;
    padding-top: 0;
	padding-left:0;  
	margin-top:0;
}

/* ODO-6477: effectively doubles the space between subsenses */
/*.sense-entry:not(.first) {
	margin-top: 0.2em;
}*/

h2.partOfSpeechTitle, .partOfSpeechTitle {
    color:#707070;
    font-size:1em;
    margin:0;
}
h2.partOfSpeechTitle{
    font-weight:bold;
    display:block;
    margin-left:-1.33em;
}

.manifest .partOfSpeech {
}
.partOfSpeechBottom{
    margin-bottom: 0.5em;
}
.partOfSpeech {
    	color:#f15a24;
	font-size:0.9em;
	font-weight:bold;
	font-style:italic;
	margin-left:0.5em;
}

/*dl .partOfSpeech {margin-left:-0.5em;padding-right:1em;}*/

.sentence_dictionary, .entrySynList, .blockOtherDictionaries {
    background: #ebebeb;
    display: none;
    margin-bottom: 0.33em;
}

.sentence_dictionary .see-more, .entrySynList .see-more {
    border-top: solid 0.1em #fff;
    text-align: center;
}

.sentence_dictionary .see-more a, .entrySynList .see-more a {
    display: block;
    font-size: 0.9em;
    
    padding: 0.5em 0.67em;
    text-transform: uppercase;
}

.sentence_dictionary {
    margin-bottom: 0;
}

.entrySynList, .blockOtherDictionaries {
    padding: 0.67em;
}

.entrySynList .see-more {
    border-top: solid 0.2em #fff;
    margin: 0.67em -0.67em;
}

.no-js .sentence_dictionary, .no-js .entrySynList, .no-js .blockOtherDictionaries {
    display: block;
}

.sentence_dictionary .sentence {
    border-bottom: solid 0.1em #fff;
    color: #444;
    font-size: 1.1em;
    font-style: italic;
    padding: 0.67em;
}

.sentence_dictionary .dictionary_footer{
    text-transform: uppercase;
    font-size: 0.9em;
}

.word_origin{
    color:#000;
    font-size:1.1em;
    padding:0.67em;
    margin-bottom:0;
}

.word_origin em {
    font-style:normal;
}

.tooltip {
    font-size: 0.9em;
}

/*------------------------------------*\
    BILINGUAL ENTRY
\*------------------------------------*/
.entryBilingual .partOfSpeech em {
    color: #000;
    font-style: normal;
}

.entryBilingual .partOfSpeech .pr {
    font-weight: normal;
    color: #000;
}

.entryBilingual .exampleGroup.exGrBreak {
    margin-bottom: 0;
    margin-left:1em;
    text-indent:-1em;
}

.entryBilingual .subsense {
	margin:0;
}

.entryBilingual .subsense,
.entryBilingual .splitline {
    display: inline;
	font-size:1em;
}

.entryBilingual .collocate{
    font-size: 1em;
    font-style: normal;
    color: #666;
}

.entryBilingual .fld,
.entryBilingual .lg,
.entryBilingual .lev,
.entryBilingual .reg ,
.entryPageContent.entryBilingual .reg ,
.entryBilingual .usage {
    font-size: 0.9em;
    color: #27a058;
}

.entryBilingual .tgr {
    color: #888;
}

.entryBilingual .exampleGroup span.t,
.tr .t,
.phrasesSubEntryBlock .t {
    color: #000;
    font-style: italic;
}

.entryBilingual .exampleGroup .ex span.t {
    color: #000;
    font-style: normal;
}

.entryBilingual .exampleGroup .ex .retroflex {
    
}
.entryBilingual .exampleGroup .u,
.tr .u,
.phrasesSubEntryBlock .u {
    color: #888;
    font-style: italic;
}

.entryBilingual /*.indicator*/,
.oldspelling {
    color: #000;
    font-style: normal;
	
}
.entryBilingual .indicator {
	font-size:0.95em;
	font-weight:bold;
}
.entryBilingual .indicator em {
    font-style: normal;
}

.entryBilingual .subjectTitle {
    font-size: 0.8em;
    text-transform: uppercase;
}

.entryBilingual .phrasesSubEntryBlock h4,
.entryBilingual .phrasesSubEntryBlock .cv {
    font-size: 1em;
}

.chinese-english .entryBilingual .phrasesSubEntryBlock h4 {
    font-size: 1.5em;
}

.entryBilingual .phrasesSubEntryBlock .addGramInfo {
    font-size: 0.8em;
    font-style: normal;
    text-transform: uppercase;
}

.entryBilingual .culturalSubEntryBlock .senseInnerWrapper,
.entryBilingual .phrasesSubEntryBlock .senseInnerWrapper,
.entryBilingual .phrasesSubEntryBlock .posPhrasalVerbs,
.entryBilingual .phrasesSubEntryBlock dl > div > em {
    /*padding-top:0.33em;*/
    /*padding-left:0.67em;*/
    position:relative;
	display: inline;
}

.entryBilingual .culturalSubEntryBlock .senseInnerWrapper h4,
.entryBilingual .phrasesSubEntryBlock .senseInnerWrapper h4{
    display: inline;
}

.entryBilingual .culturalSubEntryBlock h4,
.entryBilingual .phrasesSubEntryBlock h3,
.entryBilingual .phrasesSubEntryBlock h4 {
	font-weight:bold;
    margin:0.5em 0 0.2em -1.5rem;
    font-size:1.1em;
}

.entryBilingual .culturalSubEntryBlock h3 {font-weight:bold;margin:0;}

.entryBilingual .subEntryBlock .culturalSubEntryBlock{
    padding-left: 1.33em;
}

.entryBilingual .phrasesSubEntryBlock .subsense{
    display: block;
    padding-left: 0;
    position: relative;
}

.entryBilingual .phrasesSubEntryBlock .subsinglesense{
    display:block;
    padding-left:0;
    position:relative;
}

.entryBilingual .phrasesSubEntryBlock .subsense .subsense {
    margin-left:0;
}

.entryBilingual .phrasesSubEntryBlock dl {
    padding-left:1.5em;
}


.entryBilingual .example:before,.entryBilingual .example:after {
    content: '';
}

.entryBilingual em{
    color: #000;
	font-style:normal;
	font-size:1em;
}

.entryBilingual .exampleGroup.exGrBreak em {
	font-size:0.95em;
}

.arabic-english .senses .triggerTooltip em {
    color: #1582c2;
}

.russian-english .entryBilingual .exampleGroup em span.ex {
    font-style: normal;
}

/*------------------------------------*\
    GENERAL PAGE
\*------------------------------------*/
.generalMainContent,
.wordListContent {
    color: #5f5f5f;
    border: solid 0.1em #ddd;
}

.generalMainContent .pageTitle,.generalMainContent h2,.generalMainContent h3 {
    color: #494949;
}

.generalMainContent p,.generalMainContent ul,.generalMainContent ol {
    color: #5f5f5f;
}

.generalMainContent h1, .generalMainContent h1 p,.generalMainContent .pageTitle, .wordListContent h1 {
    font-size: 2.4em;
    
    margin: 0.67em 0 1.2em;
    color:#000;
    word-wrap: break-word;
}

.generalMainContent h2 {
    font-size: 1.33em;
    margin: 1em 0 0.5em;
    text-align: left;
}

.generalMainContent h2 > a {
    text-decoration: underline;
}

.generalMainContent h3 {
    font-size: 1.2em;
    margin: 0.9em 0 0.33em;
}
/*
.generalMainContent a:hover {
    text-decoration: underline;
}
*/
.generalMainContent p {
    margin-bottom: 0.5em;
}

.generalMainContent .twoCol .col {
    float: left;
    margin-right: 2%;
    width: 48%;
}

.generalMainContent ul,.generalMainContent ol {
    margin: 0 0 0.67em 1.33em;
}

.generalMainContent ul li,.generalMainContent ol li {
    margin-bottom: 0.5em;
}

.generalMainContent ul span,.generalMainContent ol span {
    color: #5f5f5f;
}

.generalMainContent figure {
    margin-bottom: 0.67em;
}

.generalMainContent ul li {
    list-style: outside disc;
}

.generalMainContent .harts_rules ul li,
.generalMainContent .garner_dict_legal_usage ul li {
    list-style: outside none;
}

.generalMainContent ol li {
    list-style: outside decimal;
}

.generalMainContent img {
    border: solid 0.1em #e0e0e0;
}

.generalMainContent .didYouMeanBlock h2 {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}
.wordListContent .pagination {
    margin-top: 0.67em;
}

.breadcrumb {
    font-size: 0.8em;
    
    margin: 0 0 0.67em 0!important;
    text-transform: uppercase;
}

.breadcrumb ul {
    margin: 0;
}

.breadcrumb li {
    display: inline-block;
    color: #5f5f5f;
    margin-bottom: 0!important;
}

.breadcrumb li:after {
    content: '>';
    margin-left: 0.5em;
    margin-right: 0.3em;
}

.breadcrumb li:last-child:after {
    content: '';
}

.breadcrumb a {
    color: #5f5f5f;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    color: #494949;
}

table.default {
    border-bottom: solid 0.2em #00bdf2;
}

table.default th {
    background: #e9f6fb;
    color: #00bdf2;
    text-transform: uppercase;
}

table.default tr:last-child td {
    border-bottom: 0;
}

table caption {
    border-bottom: solid 0.5em #00bdf2;
    font-weight: bold;
    font-size: 1.1em;
    padding-bottom: 0.5em;
    text-align: left;
}

table .sectionHead {
    border-bottom: 0;
    color: #00bdf2;
    font-weight: bold;
}

table th,table td {
    padding: 0.2em 0.5em;
    text-align: left;
}

table th {
    font-weight: normal;
    font-size: 0.8em;
    
    padding: 0.33em 0.5em;
}

table td {
    border-bottom: solid 0.1em #e0e0e0;
    font-size: 1.1em;
}

.credits {
    margin-top: 2.6em;
    font-style: italic;
}


/* read speaker */

.rsbtn{
    display:inline-block!important;
    height:auto!important;
    width:auto!important;
    margin:0!important;
    padding:0!important;
    z-index:0!important;
}

.rsbtn .rsbtn_play{
    display:inline-block!important;
    margin:0 0 0 0.67em!important;
    font-weight:bold!important;
    color: #929292!important;
    text-decoration: none!important;
    font-size: 0.67em;
    
    position: static;
    padding: inherit;
    float: none!important;
}

.rsbtn .rsbtn_play:hover{
    text-decoration:none!important;
}

/* end */


/* desktop */
.responsive_container{width:62em;}
.responsive_cell_left{width:11em;}
.responsive_cell_right{width:20em;float:right;}
.responsive_cell_center{width:29em;}
.responsive_cell_center_half{width:14em;}
.responsive_cell_center_plus_right{width:50em;}
.responsive_cell_center_plus_right_half{width:24em;}
.responsive_cell_center_plus_left{width:40em;}
.responsive_cell_center_plus_left_half{width:20em;}
.responsive_cell_whole{width:62em;}
.responsive_cell_thirds{width:20em;}
.responsive_cell_half{width:30em;}
.responsive_cell_home_left{width:12em;}
.responsive_cell_home_right{width:19em;}
.responsive_cell_home_center{width:29em;}
.responsive_cell_home_center_half{width:14em;}
.responsive_cell_home_center_plus_right{width:3.2em;}
.responsive_cell_home_center_plus_left{width:42em;}

[class*="responsive_cell"]{
    margin-left:0.67em;
    margin-bottom:0.67em;
}

.responsive_row [class*="responsive_cell"]:first-child, .responsive_row .responsive_cell_center [class*="responsive_cell"]{
    margin-left:0;
}

.responsive_row [class*="responsive_cell"].responsive_float_right{
    margin-left:1.1em;
}

.firstContainer{
    padding-top:0.5em;
}

/* end */

/* smartphone */
@media screen and (max-width: 31em){
    #isSmartPhone { 
        display: none; 
    }

    body {
    }

    body .home, body .general{
        background:#fff;
    }

    html{
        -webkit-text-size-adjust: none;
    }

    [class*="responsive_container"] {
        width: 100%;
    }

    .responsive_header_right {
        float: left;
    }

    .responsive_header_left {
        clear: both;
    }

    [class*="responsive_cell"] {
        clear: both;
        width: 100%!important;
        margin:0 0 0.67em 0!important;
    }

    .responsive_align_right {
        display:block;
        margin-right:0;
        margin-left:0;
    }

    .responsive_hide_on_smartphone {
        display:none!important;
    }

    .responsive_float_left{
        float:none;
    }

    .responsive_float_right{
        float:none;
    }

    .responsive_columns_2_on_smartphone{
        column-gap:0;
        -moz-column-gap:0;
        -webkit-column-gap:0;
        column-count:2;
        -moz-column-count:2;
        -webkit-column-count:2;
    }

    .logo-footer {
        float: none;
    }

    #navigation {
        margin-bottom: 0;
        padding-bottom: 0.67em;
        background: #015eab;
    }

    #navigation li {
        float: none;
    }

    #quickSearch {
        border-radius: 0;
        -o-border-radius: 0;
        -ms-border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        background:#015eab;
        padding-top:0;
    }

    #quickSearch .autocompleter {
        width:90%!important;
    }

    div#loginPanelOne, div#loginPanelTwo, div#loginPanelThree, div#closeLoginPanel {
        width: 15em;
        margin-right: auto;
        margin-left: auto;
    }

    #navigation li.current a {
        background: none !important;
        color: #D2E0F7;
    }

    #navigation li a:hover {
        background:rgb(103, 162, 216) !important;
        background:rgba(103, 162, 216, 1) !important;
        color: white;
    }

    .mobileSearch {
        padding: 0 0.4em 0;
        top: 2.6em;
        z-index:10;
    }

    .shopModuleTitle {
      height: 1.6em;
      padding: 0.9em 0 0 0.4em;
    }

    .shopModuleMsg {
        margin-top: 3.5em;
    }

    #popups {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 2;
        font-size: 0.8em;
    }

    #cookieLaw {
        padding: 0.33em;
    }

    #cookieClose {
        font-size:2.67em;
        margin-left:0.33em;
    }

    .rssPanel .crop{
        max-height: 12em;
    }

    .sharePanel {
        float: none;
        margin: 1.67em auto;
    }
    .facebookComments {
        margin-top: 0;
    }

    .ctaLarge,input.ctaLarge {
        width: 100%;
    }

    .generalMainContent h1 {
        font-size: 2em;
        
        margin-bottom: 0.67em;
    }

    .generalMainContent h2 {
        margin-top: 0.67em;
    }

    .generalMainContent .twoCol .col {
        width: 100%;
    }

    .stageTitle {
        margin-left: 0;
    }

    .reveal-modal {
        width: 96%;
        max-width:none;
        margin-left: -48%;
        top: 0.67em!important;
        padding: 0.33em;
    }

    .reveal-modal .modalTitle {
        font-size: 1.5em;
    }
    .searchPageResults.wordsList {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }
    /* subscribe page */
    .subscriptionTable {
        border-collapse:collapse;
    }

    .subscriptionTable td, .subscriptionTable th {
        padding:0.33em;
    }

    .subscriptionTable th, .subscriptionTable .mainHeader, .subscriptionTable .subscribeCta, .subscriptionTable .feature {
        font-size:0.8em;
        text-transform:none;
    }
    .mobileHeader {
        padding-bottom: 0.33em;
    }
    .searchContain{
        margin: 0;
        padding: 0;
        border: 0.1em solid #ddd;
    }
    .searchContain .searchCta {
        margin: 0.2em; 
        
        width: 1.6em;
    }
    .searchContain .searchCta i{
       font-size: 0.9em; 
    }
    .searchContain .q, #keyboard {
        padding-right:0.9em;
        width:15em;
    }
    .mobileDictSelectBlock .h3Sel {
        margin-top: 0.33em;
    }
    #header{
        border:none;
    }

    .firstContainer{
        padding-top:0;
        margin-top: 6em;
    }

    /* end */

    .footer-selector-link .icon-arrow-up:before {
        content: "\e60a";
    }
    .footer-selector-menu{
        padding: 0 0.2em 0.2em 0.2em;
        bottom: auto;
    }
    .footer-selector-menu ul {
        box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.3);
    }
    .logout_btn_right{
        float:right;
        padding:0.1em 0.67em;
    }

    /* Ad container default sizes/display */
    #ad_btmslot { width: 20em; height: 16em; }
    #ad_btmslot_csa { display: none; }
    #ad_topslot { width: 21em; height: 3.2em; }

    .inputSuggestions {
        width: 80%;
        top: 2em;
        overflow: auto;
        border: 0.1em solid #ddd;
    }
    .inputSuggestions:empty {
        border: none;
    }
    .inputSuggestions .suggestionList {
        float: left;
        display: block;
        width: 100%;
    }
    .inputSuggestions .suggestionCategory {
        float: left;
        width: 100%;
        padding: 0.2em 0.67em;
    }
    .inputSuggestions .suggestionDic {
        max-width: 90%;
        padding-bottom: 0;
    }
    #footer {
        padding: 1em;
        padding-bottom: 4.33em;
    }

    .subFooter .miscLinks {
        float: none;
        margin-bottom: 1em;
    }

    .subFooter .miscLinks li {
        margin: 0.33em 0;
        width: 100%;
    }

    .toggleMenu {
        float:right;
        background:#fff;
        display:block;
        padding:1.4em;
    }

    .toggleMenu.activeToggle {
        background:#0082c0;
    }

    .toggleMenu.activeToggle .nav-icon-bar {
        background:#fff;
    }

    .nav-icon-bar {
        background:#0082c0;
        display:block;
        width:1.7em;
        height:0.2em;
    }

    .nav-icon-bar+.nav-icon-bar {
        margin-top:0.4em;
    }

    .subscriptionTable .middle sup, 
    .subscriptionTable .top sup {
        vertical-align:baseline;
    }

    .breadcrumb li {
        display:none;
    }

    .breadcrumb li:nth-last-of-type(-n+2) {
        display:inline-block;
    }

    .illustration{
        float:none!important;
        margin-left:auto!important;
        margin-right:auto!important;
        display:table;
        max-height:21em;
    }

}

/* end smartphone */

/* tablet */

@media screen and (min-width: 51em) and (max-width: 63em){

    .responsive_hide_on_tablet{
        display:none!important;
    }

    .responsive_hide_on_non_smartphone {
        display:none!important;
    }

    .responsive_container{width:3.2em;}
    .responsive_cell_left{width:11em;}
    .responsive_cell_right{width:12em;float:right;}
    .responsive_cell_center{width:24em;}
    .responsive_cell_center_half{width:11em;}
    .responsive_cell_center_plus_right{width:37em;}
    .responsive_cell_center_plus_right_half{width:18em;}
    .responsive_cell_center_plus_left{width:36em;}
    .responsive_cell_center_plus_left_half{width:17em;}
    .responsive_cell_whole{width:3.2em;}
    .responsive_cell_thirds{width:16em;}
    .responsive_cell_half{width:24em;}
    .responsive_cell_home_left{width:11em;}
    .responsive_cell_home_right{width:11em;}
    .responsive_cell_home_center{width:24em;}
    .responsive_cell_home_center_half{width:11em;}
    .responsive_cell_home_center_plus_right{width:36em;}
    .responsive_cell_home_center_plus_left{width:36em;}

    [class*="responsive_cell"]{
        margin-left:1em;
        margin-bottom:1em;
    }

    .responsive_row [class*="responsive_cell"]:first-child, .responsive_row .responsive_cell_center [class*="responsive_cell"]{
        margin-left:0;
    }
    
    .responsive_row [class*="responsive_cell"].responsive_float_right{
        margin-left:1em;
    }

    .firstContainer{
        padding-top:0.7em;
    }

    .responsive_columns_2{
        column-count:1;
        -moz-column-count:1;
        -webkit-column-count:1;
    }

    .responsive_columns_2_on_tablet{
        column-gap:0;
        -moz-column-gap:0;
        -webkit-column-gap:0;
        column-count:2;
        -moz-column-count:2;
        -webkit-column-count:2;
    }

    .logo{
        width:17em;
    }

    .wotdBlock span.headword-ofd{
        font-size: 2.1em;
    }

    .premiumBlock h3 a {
        font-size: 1.6em;
    }

    .searchContain .searchBox {
        width:13em;
    }
    .secondaryNav .secondaryNavMenu li a {
        padding:0.9em 0.3em;
        font-size:0.95em;
    }

    .secondaryNav .secondaryNavMenu li a.premium{
        font-size:0.95em;
        padding:0.67em 0.33em;
        margin-left:0.33em;
    }

    .userNav {
        margin-bottom:0.3em;
    }

    .userNav li{
        margin-left:0.5em;
        padding-left:0.5em;
    }
    .inputSuggestions {
        width: 19em;
    }
    .inputSuggestions .suggestionList {
        float: left;
        display: block;
        width: 100%;
    }
    .inputSuggestions .suggestionCategory {
        width: auto;
    }
    .inputSuggestions .suggestionDic {
        padding-right: 0.5em;
        max-width: inherit;
    }
    .inputSuggestions .suggestionLocked {
        float: none;
    }
    /* Ad container default sizes/display */
    #ad_btmslot { width: 20em; height: 16em; }
    #ad_btmslot_csa { display: none; }
    #ad_leftslot { width: 11em; height: 40em; }
    #ad_topslot { width: 3.2em; height: 6em; }

    .illustration{
        width:12em;
    }
}

/* tablet end */

/* desktop */
@media screen and (min-width: 63em) and (max-width: 82em){

    .responsive_hide_on_desktop{
        display:none!important;
    }

    .responsive_hide_on_non_smartphone {
        display:none!important;
    }

    .responsive_columns_2_on_desktop{
        column-gap:0;
        -moz-column-gap:0;
        -webkit-column-gap:0;
        column-count:2;
        -moz-column-count:2;
        -webkit-column-count:2;
    }

    .ad_trick .ad_trick_header{
        margin-left:177px!important;
        margin-right:0!important;
    }

    .ad_trick .home .ad_trick_header{
        margin-left:197px!important;
        margin-right:0!important;
    }

    .ad_trick .ad_trick_left{
        margin-top:-107px!important;
    }

    .wotdBlock span.headword-ofd,
    .premiumBlock h3 a {
        font-size: 2.1em;
    }

    /* Ad container default sizes/display */
    #ad_btmslot { width: 20em; height: 16em; }
    #ad_btmslot_csa { display: none; }
    #ad_leftslot { width: 11em; height: 40em; }
    #ad_topslot { width: 3.2em; height: 6em; }

    .subFooter .responsive_cell:first-of-type{
        width: 75%;
    }

    .subFooter .responsive_cell:nth-of-type(2){
        width: 25%;
    }
}

/* desktop end */

/* hd */

@media screen and (min-width: 1240px){
  
    .responsive_hide_on_hd{
        display:none!important;
    }

    .responsive_hide_on_non_smartphone {
        display:none!important;
    }

    .responsive_container{width:1222px;}
    .responsive_cell_left{width:11em;}
    .responsive_cell_right{width:300px;float:right;}
    .responsive_cell_center{width:3.2em;}
    .responsive_cell_center_half{width:355px;}
    .responsive_cell_center_plus_right{width:1045px;}
    .responsive_cell_center_plus_right_half{width:514px;}
    .responsive_cell_center_plus_left{width:905px;}
    .responsive_cell_center_plus_left_half{width:444px;}
    .responsive_cell_whole{width:1222px;}
    .responsive_cell_thirds{width:396px;}
    .responsive_cell_half{width:602px;}
    .responsive_cell_home_left{width:17em;}
    .responsive_cell_home_right{width:300px;}
    .responsive_cell_home_center{width:638px;}
    .responsive_cell_home_center_half{width:310px;}
    .responsive_cell_home_center_plus_right{width:955px;}
    .responsive_cell_home_center_plus_left{width:905px;}

    [class*="responsive_cell"]{
        margin-left:1.1em;
        margin-bottom:1.1em;
    }

    .responsive_row [class*="responsive_cell"]:first-child, .responsive_row .responsive_cell_center [class*="responsive_cell"]{
        margin-left:0;
    }

    .responsive_row [class*="responsive_cell"].responsive_float_right{
        margin-left:1.1em;
    }

    .responsive_columns_2_on_hd{
        column-gap:0;
        -moz-column-gap:0;
        -webkit-column-gap:0;
        column-count:2;
        -moz-column-count:2;
        -webkit-column-count:2;
    }

    .shopModuleTitle {
      height: 1.6em;
      padding: 0.9em 0 0 0.4em;
    }

    .shopModuleMsg {
        margin-top: 53px;
    }

    .ad_trick .ad_trick_header{
        margin-left:177px!important;
        margin-right:0!important;
    }

    .ad_trick .home .ad_trick_header{
        margin-left:267px!important;
        margin-right:0!important;
    }

    .ad_trick .ad_trick_left,
    .ad_trick .ad_trick_right{
        margin-top:-107px!important;
    }

    .wotdBlock span.headword-ofd,
    .premiumBlock h3 a {
        font-size: 2.5em;
    }

    .searchContain .searchBox {
        width:27em;
    }
    .secondaryNav .secondaryNavMenu li {
        padding-right: 0.2em;
        padding-left: 0.2em;
    }
    .secondaryNav .secondaryNavMenu li:first-child {
        padding-right: 0.2em;
        padding-left: 0;
    }
    .secondaryNav .secondaryNavMenu li:last-child {
        padding-right: 0;
        padding-left: 0.2em;
    }
    .secondaryNav .secondaryNavMenu li a {
        padding:0.8em 0.8em;
    }

    .fixed .secondaryNavContainer{
        position: fixed;
        top: 0;
        width: 100%;
        -webkit-box-shadow: 0 0.1em 0.1em 0 rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 0 0.1em 0.1em 0 rgba(50, 50, 50, 0.75);
        box-shadow: 0 0.1em 0.1em 0 rgba(50, 50, 50, 0.75);
    }

    .fixed .stic {
        display: block;
        height: 3.2em;
    }
    .fixed .secondaryHoverMenu {
        position: fixed;
        top: 3.2em;
    }
    .inputSuggestions {
        left: 1.67em;
        width: 35em;
    }

    .subFooter .responsive_cell:first-of-type {
        width: 75%;
    }

    .subFooter .responsive_cell:nth-of-type(2) {
        width: 25%;
    }

    /* Ad container default sizes */
    #ad_leftslot { width: 11em; height: 40em; }
    #ad_topslot { width: 3.2em; height: 6em; }

    .searchPageResults.wordsList {
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
    }
}

/* end HD */

/* miscellaneous */

.responsive_no_margin{
    margin:0!important;
}

.responsive_no_margin_vertical{
    margin-top:0!important;
    margin-bottom:0!important;
}

.responsive_no_margin_horizontal{
    margin-left:0!important;
    margin-right:0!important;
}

/* end */

.Ochwd {
    margin-top: 0.67em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.Ochwd a {
    display: inline-block;
    background-color: #d7d7d7;
    color: #0082c0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.67em;
    padding-right: 0.67em;
    margin-right: 0.67em;
    margin-bottom: 0.2em;
    text-decoration: none;
    font-weight: bold;
    border-radius: 1.33em;
}
br {display:none;}
.xrg {display:block;}
dd {margin:0;}
.headpron {display:inline;}

.example .ex:before  {content:"•";padding:0 0.3em 0 0;line-height:1.5em;color:gray;font-style:normal !important;font-size:0.95em;font-family:arial,sans-serif;}
.example .con:before {content:"•";padding:0 0.3em 0 0;line-height:1.5em;color:#f15a24;font-style:normal !important;font-size:0.95em;font-family:arial,sans-serif;}
.example .trg {text-indent:0;}
.example .trg .exLabel_container {display:inline;}
.example .trg .exLabel_container .indicator {font-weight:normal;}
.entryBilingual .exampleGroup.exGrBreak .example .exLabel_container .indicator {font-weight:normal;padding-left:0.5em;}
.example .trg span[lang="zh"] {font-family:KaiTi, serif;}
.example .trg span[lang="en"] {font-style:italic;}
div {margin-bottom:0.5em;}
h2 + dl {margin-top:0;}
dt::before {content:"";margin-left:-1.5em; display:block;border-bottom:1px dashed gray;margin-bottom:0.2em;}
dt:first-child::before {border:none;}
.subEntryBlocks {padding:0.2em; border:1px solid #f15a24;}