body {
	font-family: Helvetica, Arial, sans-serif;"lang";
	line-height: 1.3em;
	}


/*---隐藏重复的主词---*/
.DC{
	display:none;
}

/***-主词的大小格式*/
.YX{
	margin-top:4px;
	display:block;
	font-size:120%;
	color:black;
	font-weight:bold;
}

/*----词性的格式---***/
span.DX {
    color: #8f0610 !important;
    font-weight: bold;
    font-size: 95%;
    font-style: italic;
}

/***例句**/
.LY{
	display:block;
	color: #369;
}


/***翻译*/
.LS{
	color: #757575;
	display: block;
	margin-left:8px;
}


/***动词短语***/
span.vbers {
    font-weight: bold;
    color: #11326F;
    font-style: italic;
    margin-top: 1em;
    border-color: #0172a2;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-left: 8px;
    line-height: 160%;
    font-size: 95%;
}

/****例句前的content: "•";***/
span.LY:before {
    content: "•";
    margin-left: -0.2em;
    padding-right: 3px;
    color: #369;
}

/***搭配字样*/
span.dapea {
    font-weight: bold;
    font-size: 95%;
    text-transform: lowercase;
}

/*------------------不知道*/
.YD{
	display:block;
	color:black;
	margin-left:4px;
}

.CB{
	color:sienna;
	display:block;
	margin-left:5
}

.PY{
	color:sienna;
	display:block;
	margin-left:5
}
/
.DX{
	display: block;
	margin-left:8px;
	color:darkmagenta;
	font-style:italic;
}

.JX{
	display:block;
	margin-left:4px;
	margin-top: 5px;
}

.GZ{
	display:block;
	margin-left:8px;
}

.LJ{
	display:block;
	margin-left:14px;
	padding-bottom: 2px;
}



.entryNum{
	font-weight:bold;
	color:darkgreen;
	display:none;
	font-weight:bold;
	font-size: 110%;
	margin-right:3px;
}
.entryDot{
	font-weight:bold;
	color:darkgreen;
	display:inline;
	font-weight:bold;
	margin-right:3px;
	font-size: 110%;
}

.section_title{
	margin-left:5px;
	margin-top:4px;
	font-weight:bold;
	display: block;
}

.italic{
	font-style:italic;
}
.bold{
	font-style: italic;
	font-family: "Merriweather",Georgia,ser;
	font-size: 105%;
}

.ref_title{
	margin-right:5;
	font-weight:bold;
	font-style:normal;
}
.reference{
	font-style:italic;




























