/*调整默认属性*/
p{margin:0}
a{text-decoration:none;}
a:link{}
a:visited{}
a:hover{}
a:active{color:currentcolor}
img{max-width:100%;background-position:left top;}

.italic {font-weight:bold;font-style: italic;}
.bold {font-weight: bold;}

/*节设置*/
.zdzgrm_part_title{font-weight:bold;font-size:1.5em;}/*节标题，如“1.1 语法的内容”*/
.zdzgrm_part_content{}/*节内容板块，如可整个板块加边框*/

/*小节设置*/
.zdzgrm_spart_title{display:block;margin-top:0.5em;font-weight:bold;font-size:1.2em;}/*小节标题，如“1.1.1 词法与句法 ”*/
.zdzgrm_spart_content{}/*小节内容板块*/

/*内容格式*/
.zdzgrm_exp{display:block;margin-left:0em;text-indent:2em;color:black;}/*叙述部分*/
.zdzgrm_expsub{display:block;margin-top:0.3em;margin-left:1em;text-indent:-1em;color:#4820a5}/*次编号1), 2)等*/
.zdzgrm_expsubc{display:block;margin-top:0.3em;margin-left:1em;text-indent:0em;color:#4820a5}/*叙述部分，如:4.3.1, 0和1)abc下面*/
.zdzgrm_expsubd{display:block;margin-top:0.3em;margin-left:1em;text-indent:0em;color:#4820a5}/*叙述部分，如:4.1.1, 2)下面的那一行*/
.zdzgrm_expsuba{display:block;margin-top:0.3em;margin-left:1.2em;text-indent:-1em;color:darkred}/*a. b. 等次编号，非例子。如5.7.3下面*/
.zdzgrm_expsubb{display:block;margin-top:0.3em;margin-left:1.2em;text-indent:-1em;color:darkred}/*a. b. 等次编号，例子*/
.zdzgrm_delim{color:red;margin-left:2px;margin-right:2px;}/*分隔符，如2.2.5下面的几组例子*/
.zdzgrm_eg{display:block;margin-left:2.3em;text-indent:-1em;color:darkgreen}/*例子*/
.zdzgrm_eg1{display:block;margin-left:2.3em;text-indent:-1em;color:darkgreen}/*如2.3.4: 2) */

/*总目录：“00 目录”*/
.zdzgrm_mctitle{font-weight:bold;font-size:1.5em;}/*头标签*/
.zdzgrm_mcontentbox{}/*总列表板块*/
.zdzgrm_msect{display:block;font-size:1.2em;margin-top:0.2em;}/*每章标签*/
.zdzgrm_mpart{display:block;font-size:1.1em;color:darkred;padding-left:2em;text-indent:-1em;margin-top:0.2em;}/*节标题*/
.zdzgrm_mspart{display:block;padding-left:3.5em;text-indent:-1em;color:darkgreen;}/*小节标题*/
.zdzgrm_mbsect{display:block;font-size:1.2em;margin-top:0.2em;}/*每章标签(简略目录)*/
.zdzgrm_mbpart{display:block;font-size:1em;color:darkred;padding-left:2em;text-indent:-1em;margin-top:0.2em;}/*节标题(简略目录)*/

/*每章分目录*/
.zdzgrm_contentbox{}/*总列表板块*/
.zdzgrm_sect{display:block;font-size:1.5em;margin-top:0.2em;}/*章标签*/
.zdzgrm_part{display:block;font-size:1.2em;color:darkred;padding-left:2em;text-indent:-1em;margin-top:0.2em;}/*节标题*/
.zdzgrm_spart{display:block;padding-left:3.5em;text-indent:-1em;color:darkgreen;}/*小节标题*/

/*页首简略导航*/
.zdzgrm_linkdiv{text-align:right;margin-bottom:0.5em;}/*板块(最外)*/
.zdzgrm_linkbox{padding-left:0.5em;border-bottom:1px solid #008080;border-radius:6px;}/*板块(内)*/
.zdzgrm_toplink{color:brown;margin-right:0.5em;}/*标题*/

/*页尾导航*/
.zdzgrm_linkdiv2{margin-top:1em;padding-top:0.5em;border-top:1px solid #008080;}/*板块(最外)*/
.zdzgrm_linkbox2{display:block;margin-left:1em;}/*板块(内)*/
.zdzgrm_bottomlink{display:block;margin-left:1em;margin-bottom:0.2em;color:brown;text-indent:-1em;}/*标题*/

/*页尾总目录*/
.zdzgrm_tchaptersbox{margin-top:0.5em;margin-left:1em;}/*整个板块*/
.zdzgrm_tchapterhead{font-size:1.2em;color:brown}/*表头“总目录”*/
.zdzgrm_tchapters{display:block;margin-left:0.3em;}/*列表板块*/
.zdzgrm_tchapter{display:block;margin-right:0.3em;margin-left:1.3em;margin-bottom:0.3em;text-indent:-1em;color:brown}/*每章标题*/
.zdzgrm_tchaptertable{border:1px solid #008080;border-radius:6px;}/*整个列表表格*/
.zdzgrm_tleft{vertical-align:text-top;width:51%;border-right:1px solid #008080;}/*左面表格*/
.zdzgrm_tright{vertical-align:text-top;}/*右面表格*/

.zdzgrm_91 {
    color:#0080c0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3pt;
    text-align: justify;
    text-indent:1em;
    }/*文本格式，如7.1.4横线下“因此，在学某一个具体的动词时，...”*/

.zdzgrm_26 {
    display: block;
    color:#0080c0;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 3pt;
    text-align: justify;
    text-indent:0em
    }/*文本格式，如7.1.4横线下"在学每一个英语动词....."*/

.zdzgrm3 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-left:1em;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }/*一些表格，如：2.3.5; 2.2.53)*/

.zdzgrm_44 {
    border-bottom-color: currentColor;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: inset;
    border-left-width: 1px;
    border-right-color: currentColor;
    border-right-style: inset;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: inset;
    border-top-width: 1px;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    text-indent: 27%
    }/*横线，如：2.2.5; 2.3.5*/

.zdzgrm_ {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3pt;
    text-align: left;
    text-indent: 0
    }/*图片段落*/


/*其它一些图片或少量文本格式*/

.zdzgrm_23 {
    display: block;
    margin-bottom: 0;
    margin-left: 0em;
    margin-right: 0;
    margin-top: 2em;
    text-align: center;
    text-indent: 0
    }

.zdzgrm_298 {
    display: block;
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-right: 0;
    margin-top: 3pt;
    text-align: justify;
    text-indent: 0
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

.zdzgrm {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.zdzgrm_1 {
    height: 897px;
    vertical-align: baseline;
    width: 679px
    }
.zdzgrm_2 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.zdzgrm_3 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.zdzgrm_4 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 2em
    }
.zdzgrm_5 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
/*.zdzgrm_6 {
    margin-bottom: 0;
    margin-left: 5;
    margin-right: 0;
    margin-top: 0em;
    text-align: justify;
    text-indent: 2em
    }*//*段落格式，如：4.1.1*/
.zdzgrm_7 {
    color: #00A6E7
    }
.zdzgrm_8 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 2em
    }
.zdzgrm_9 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 2pt
    }
.zdzgrm_10 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 2em
    }
.zdzgrm_11 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0
    }
.zdzgrm_12 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2pt;
    text-align: justify;
    text-indent: 2em
    }
.zdzgrm_13 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 2em
    }
.zdzgrm_14 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 2em
    }
.zdzgrm_15 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 2em
    }
.zdzgrm_16 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 2pt;
    text-align: left;
    text-indent: 4em
    }
.zdzgrm_17 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2pt;
    text-align: left;
    text-indent: 6em
    }
.zdzgrm_18 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 6em
    }
.zdzgrm_19 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 2pt;
    text-align: left;
    text-indent: 6em
    }
.zdzgrm_20 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2pt;
    text-align: left;
    text-indent: 2em
    }
.zdzgrm_21 {
    height: 160px;
    vertical-align: baseline;
    width: 300px
    }
.zdzgrm_22 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.zdzgrm_24 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-indent: 0
    }
.zdzgrm_25 {
    height: 460px;
    vertical-align: baseline;
    width: 700px
    }
.zdzgrm_27 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.zdzgrm_28 {
    height: 489px;
    vertical-align: baseline;
    width: 698px
    }
.zdzgrm_29 {
    height: 26px;
    vertical-align: baseline;
    width: 39px
    }
.zdzgrm_30 {
    height: 29px;
    vertical-align: baseline;
    width: 39px
    }
.zdzgrm_31 {
    height: 30px;
    vertical-align: baseline;
    width: 77px
    }
.zdzgrm_32 {
    height: 30px;
    vertical-align: baseline;
    width: 44px
    }
.zdzgrm_33 {
    height: 27px;
    vertical-align: baseline;
    width: 39px
    }
.zdzgrm_34 {
    height: 28px;
    vertical-align: baseline;
    width: 44px
    }
.zdzgrm_35 {
    height: 27px;
    vertical-align: baseline;
    width: 47px
    }
.zdzgrm_36 {
    height: 30px;
    vertical-align: baseline;
    width: 43px
    }
.zdzgrm_37 {
    height: 24px;
    vertical-align: baseline;
    width: 46px
    }
.zdzgrm_38 {
    height: 27px;
    vertical-align: baseline;
    width: 43px
    }
.zdzgrm_39 {
    height: 25px;
    vertical-align: baseline;
    width: 40px
    }
.zdzgrm_40 {
    color: #00AEEF
    }
.zdzgrm_41 {
    height: 124px;
    vertical-align: baseline;
    width: 510px
    }
.zdzgrm_42 {
    height: 342px;
    vertical-align: baseline;
    width: 695px
    }
.zdzgrm_43 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3pt;
    text-indent: 0
    }
.zdzgrm_45 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 6pt
    }
.zdzgrm_46 {
    height: 700px;
    vertical-align: baseline;
    width: 679px
    }
.zdzgrm_47 {
    height: 350px;
    vertical-align: baseline;
    width: 600px
    }
.zdzgrm_48 {
    height: 580px;
    vertical-align: baseline;
    width: 679px
    }
.zdzgrm_49 {
    height: 400px;
    vertical-align: baseline;
    width: 679px
    }
.zdzgrm_50 {
    height: 300px;
    vertical-align: baseline;
    width: 679px
    }
.zdzgrm_51 {
    height: 230px;
    vertical-align: baseline;
    width: 679px
    }
.zdzgrm_52 {
    height: 500px;
    vertical-align: baseline;
    width: 679px
    }
.zdzgrm_53 {
    height: 152px;
    vertical-align: baseline;
    width: 457px
    }
.zdzgrm_54 {
    height: 273px;
    vertical-align: baseline;
    width: 699px
    }
.zdzgrm_55 {
    height: 237px;
    vertical-align: baseline;
    width: 699px
    }
.zdzgrm_56 {
    height: 380px;
    vertical-align: baseline;
    width: 679px
    }
.zdzgrm_57 {
    height: 550px;
    vertical-align: baseline;
    width: 679px
    }
.zdzgrm_58 {
    height: 220px;
    vertical-align: baseline;
    width: 702px
    }
.zdzgrm_59 {
    height: 293px;
    vertical-align: baseline;
    width: 703px
    }
.zdzgrm_60 {
    height: 324px;
    vertical-align: baseline;
    width: 704px
    }
.zdzgrm_61 {
    height: 288px;
    vertical-align: baseline;
    width: 640px
    }
.zdzgrm_62 {
    height: 213px;
    vertical-align: baseline;
    width: 693px
    }
.zdzgrm_63 {
    height: 110px;
    vertical-align: baseline;
    width: 700px
    }
.zdzgrm_64 {
    height: 168px;
    vertical-align: baseline;
    width: 702px
    }
.zdzgrm_65 {
    height: 183px;
    vertical-align: baseline;
    width: 701px
    }
.zdzgrm_66 {
    height: 104px;
    vertical-align: baseline;
    width: 698px
    }
.zdzgrm_67 {
    height: 53px;
    vertical-align: baseline;
    width: 548px
    }
.zdzgrm_68 {
    height: 54px;
    vertical-align: baseline;
    width: 579px
    }
.zdzgrm_69 {
    height: 53px;
    vertical-align: baseline;
    width: 694px
    }
.zdzgrm_70 {
    height: 53px;
    vertical-align: baseline;
    width: 696px
    }
.zdzgrm_71 {
    height: 129px;
    vertical-align: baseline;
    width: 698px
    }
.zdzgrm_72 {
    height: 130px;
    vertical-align: baseline;
    width: 699px
    }
.zdzgrm_73 {
    height: 92px;
    vertical-align: baseline;
    width: 697px
    }
.zdzgrm_74 {
    height: 447px;
    vertical-align: baseline;
    width: 700px
    }
.zdzgrm_75 {
    height: 454px;
    vertical-align: baseline;
    width: 700px
    }/*图片*/
.zdzgrm_76 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 3pt
    }
.zdzgrm_77 {
    height: 158px;
    vertical-align: baseline;
    width: 617px
    }
.zdzgrm_78 {
    height: 169px;
    vertical-align: baseline;
    width: 583px
    }
.zdzgrm_79 {
    height: 52px;
    vertical-align: baseline;
    width: 600px
    }
.zdzgrm_80 {
    height: 216px;
    vertical-align: baseline;
    width: 698px
    }
.zdzgrm_81 {
    height: 329px;
    vertical-align: baseline;
    width: 702px
    }
.zdzgrm_82 {
    height: 78px;
    vertical-align: baseline;
    width: 699px
    }
.zdzgrm_83 {
    height: 208px;
    vertical-align: baseline;
    width: 697px
    }
.zdzgrm_84 {
    height: 117px;
    vertical-align: baseline;
    width: 702px
    }
.zdzgrm_85 {
    height: 213px;
    vertical-align: baseline;
    width: 700px
    }
.zdzgrm_86 {
    height: 302px;
    vertical-align: baseline;
    width: 701px
    }
.zdzgrm_87 {
    height: 238px;
    vertical-align: baseline;
    width: 700px
    }
.zdzgrm_88 {
    height: 399px;
    vertical-align: baseline;
    width: 699px
    }
.zdzgrm_89 {
    height: 427px;
    vertical-align: baseline;
    width: 700px
    }
.zdzgrm_90 {
    height: 465px;
    vertical-align: baseline;
    width: 699px
    }
.zdzgrm_92 {
    height: 309px;
    vertical-align: baseline;
    width: 698px
    }
.zdzgrm_93 {
    height: 199px;
    vertical-align: baseline;
    width: 697px
    }
.zdzgrm_94 {
    height: 145px;
    vertical-align: baseline;
    width: 699px
    }
.zdzgrm_95 {
    height: 591px;
    vertical-align: baseline;
    width: 701px
    }
.zdzgrm_96 {
    height: 459px;
    vertical-align: baseline;
    width: 699px
    }
.zdzgrm_97 {
    height: 1045px;
    vertical-align: baseline;
    width: 695px
    }
.zdzgrm_98 {
    height: 528px;
    vertical-align: baseline;
    width: 692px
    }
.zdzgrm_99 {
    height: 539px;
    vertical-align: baseline;
    width: 695px
    }
.zdzgrm_100 {
    height: 472px;
    vertical-align: baseline;
    width: 694px
    }
.zdzgrm_101 {
    height: 101px;
    vertical-align: baseline;
    width: 693px
    }
.zdzgrm_102 {
    height: 613px;
    vertical-align: baseline;
    width: 694px
    }
.zdzgrm_103 {
    height: 140px;
    vertical-align: baseline;
    width: 695px
    }
.zdzgrm_104 {
    height: 550px;
    vertical-align: baseline;
    width: 694px
    }
.zdzgrm_105 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: justify;
    text-indent: 2em
    }
.zdzgrm_106 {
    height: 1038px;
    vertical-align: baseline;
    width: 694px
    }
.zdzgrm_107 {
    height: 400px;
    vertical-align: baseline;
    width: 696px
    }
.zdzgrm_108 {
    height: 268px;
    vertical-align: baseline;
    width: 695px
    }
.zdzgrm_109 {
    height: 920px;
    vertical-align: baseline;
    width: 593px
    }
.zdzgrm_110 {
    height: 746px;
    vertical-align: baseline;
    width: 693px
    }
.zdzgrm_111 {
    height: 156px;
    vertical-align: baseline;
    width: 695px
    }
.zdzgrm_112 {
    height: 380px;
    vertical-align: baseline;
    width: 695px
    }
.zdzgrm_113 {
    height: 109px;
    vertical-align: baseline;
    width: 420px
    }
.zdzgrm_114 {
    height: 413px;
    vertical-align: baseline;
    width: 695px
    }
.zdzgrm_115 {
    height: 334px;
    vertical-align: baseline;
    width: 692px
    }
.zdzgrm_116 {
    height: 380px;
    vertical-align: baseline;
    width: 654px
    }
.zdzgrm_117 {
    height: 234px;
    vertical-align: baseline;
    width: 692px
    }
.zdzgrm_118 {
    height: 265px;
    vertical-align: baseline;
    width: 656px
    }
.zdzgrm_119 {
    height: 141px;
    vertical-align: baseline;
    width: 555px
    }
.zdzgrm_120 {
    height: 131px;
    vertical-align: baseline;
    width: 631px
    }
.zdzgrm_121 {
    height: 60px;
    vertical-align: baseline;
    width: 633px
    }
.zdzgrm_122 {
    height: 364px;
    vertical-align: baseline;
    width: 692px
    }
.zdzgrm_123 {
    height: 247px;
    vertical-align: baseline;
    width: 620px
    }
.zdzgrm_124 {
    height: 285px;
    vertical-align: baseline;
    width: 471px
    }
.zdzgrm_125 {
    height: 245px;
    vertical-align: baseline;
    width: 640px
    }
.zdzgrm_126 {
    height: 383px;
    vertical-align: baseline;
    width: 651px
    }
.zdzgrm_127 {
    height: 261px;
    vertical-align: baseline;
    width: 627px
    }
.zdzgrm_128 {
    height: 319px;
    vertical-align: baseline;
    width: 654px
    }
.zdzgrm_129 {
    height: 237px;
    vertical-align: baseline;
    width: 623px
    }
.zdzgrm_130 {
    height: 179px;
    vertical-align: baseline;
    width: 613px
    }
.zdzgrm_131 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    text-align: justify;
    text-indent: 0
    }
.zdzgrm_132 {
    height: 79px;
    vertical-align: baseline;
    width: 552px
    }
.zdzgrm_133 {
    height: 87px;
    vertical-align: baseline;
    width: 552px
    }
.zdzgrm_134 {
    height: 180px;
    vertical-align: baseline;
    width: 500px
    }
.zdzgrm_135 {
    height: 170px;
    vertical-align: baseline;
    width: 500px
    }
.zdzgrm_136 {
    height: 400px;
    vertical-align: baseline;
    width: 800px
    }
.zdzgrm_137 {
    height: 300px;
    vertical-align: baseline;
    width: 800px
    }
.zdzgrm_138 {
    height: 150px;
    vertical-align: baseline;
    width: 550px
    }
.zdzgrm_139 {
    height: 480px;
    vertical-align: baseline;
    width: 700px
    }
.zdzgrm_140 {
    height: 280px;
    vertical-align: baseline;
    width: 700px
    }
.zdzgrm_141 {
    height: 70px;
    vertical-align: baseline;
    width: 700px
    }
.zdzgrm_142 {
    height: 202px;
    vertical-align: baseline;
    width: 600px
    }
.zdzgrm_143 {
    height: 260px;
    vertical-align: baseline;
    width: 600px
    }
.zdzgrm_144 {
    height: 150px;
    vertical-align: baseline;
    width: 650px
    }
.zdzgrm_145 {
    height: 120px;
    vertical-align: baseline;
    width: 580px
    }
.zdzgrm_146 {
    height: 168px;
    vertical-align: baseline;
    width: 613px
    }
.zdzgrm_147 {
    height: 300px;
    vertical-align: baseline;
    width: 612px
    }
.zdzgrm_148 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em
    }
.zdzgrm_149 {
    height: 259px;
    vertical-align: baseline;
    width: 635px
    }
.zdzgrm_150 {
    height: 206px;
    vertical-align: baseline;
    width: 651px
    }
.zdzgrm_151 {
    height: 664px;
    vertical-align: baseline;
    width: 694px
    }
.zdzgrm_152 {
    height: 721px;
    vertical-align: baseline;
    width: 691px
    }
.zdzgrm_153 {
    height: 117px;
    vertical-align: baseline;
    width: 693px
    }
.zdzgrm_154 {
    height: 87px;
    vertical-align: baseline;
    width: 692px
    }
.zdzgrm_155 {
    height: 328px;
    vertical-align: baseline;
    width: 694px
    }
.zdzgrm_156 {
    height: 162px;
    vertical-align: baseline;
    width: 694px
    }
.zdzgrm_157 {
    height: 219px;
    vertical-align: baseline;
    width: 693px
    }
.zdzgrm_158 {
    height: 210px;
    vertical-align: baseline;
    width: 694px
    }
.zdzgrm_159 {
    height: 113px;
    vertical-align: baseline;
    width: 693px
    }
.zdzgrm_160 {
    height: 140px;
    vertical-align: baseline;
    width: 696px
    }
.zdzgrm_161 {
    height: 112px;
    vertical-align: baseline;
    width: 692px
    }
.zdzgrm_162 {
    height: 142px;
    vertical-align: baseline;
    width: 694px
    }
.zdzgrm_163 {
    height: 238px;
    vertical-align: baseline;
    width: 695px
    }
.zdzgrm_164 {
    height: 89px;
    vertical-align: baseline;
    width: 693px
    }
.zdzgrm_165 {
    height: 337px;
    vertical-align: baseline;
    width: 693px
    }
.zdzgrm_166 {
    height: 231px;
    vertical-align: baseline;
    width: 693px
    }
.zdzgrm_167 {
    height: 365px;
    vertical-align: baseline;
    width: 633px
    }
.zdzgrm_168 {
    height: 315px;
    vertical-align: baseline;
    width: 643px
    }
.zdzgrm_169 {
    height: 297px;
    vertical-align: baseline;
    width: 691px
    }
.zdzgrm_170 {
    height: 225px;
    vertical-align: baseline;
    width: 652px
    }
.zdzgrm_171 {
    height: 150px;
    vertical-align: baseline;
    width: 300px
    }
.zdzgrm_172 {
    height: 113px;
    vertical-align: baseline;
    width: 694px
    }
.zdzgrm_173 {
    height: 162px;
    vertical-align: baseline;
    width: 695px
    }
.zdzgrm_174 {
    height: 128px;
    vertical-align: baseline;
    width: 696px
    }
.zdzgrm_175 {
    height: 207px;
    vertical-align: baseline;
    width: 694px
    }
.zdzgrm_176 {
    height: 168px;
    vertical-align: baseline;
    width: 694px
    }
.zdzgrm_177 {
    height: 77px;
    vertical-align: baseline;
    width: 695px
    }
.zdzgrm_178 {
    height: 386px;
    vertical-align: baseline;
    width: 693px
    }
.zdzgrm_179 {
    height: 215px;
    vertical-align: baseline;
    width: 695px
    }
.zdzgrm_180 {
    height: 210px;
    vertical-align: baseline;
    width: 693px
    }
.zdzgrm_181 {
    height: 216px;
    vertical-align: baseline;
    width: 694px
    }
.zdzgrm_182 {
    height: 392px;
    vertical-align: baseline;
    width: 694px
    }
.zdzgrm_183 {
    height: 110px;
    vertical-align: baseline;
    width: 694px
    }
.zdzgrm_184 {
    height: 202px;
    vertical-align: baseline;
    width: 694px
    }
.zdzgrm_185 {
    height: 357px;
    vertical-align: baseline;
    width: 692px
    }
.zdzgrm_186 {
    height: 93px;
    vertical-align: baseline;
    width: 694px
    }
.zdzgrm_187 {
    height: 88px;
    vertical-align: baseline;
    width: 693px
    }
.zdzgrm_188 {
    height: 224px;
    vertical-align: baseline;
    width: 694px
    }
.zdzgrm_189 {
    height: 225px;
    vertical-align: baseline;
    width: 695px
    }
.zdzgrm_190 {
    height: 259px;
    vertical-align: baseline;
    width: 695px
    }
.zdzgrm_191 {
    height: 139px;
    vertical-align: baseline;
    width: 695px
    }
.zdzgrm_192 {
    height: 284px;
    vertical-align: baseline;
    width: 694px
    }
.zdzgrm_193 {
    height: 510px;
    vertical-align: baseline;
    width: 692px
    }
.zdzgrm_194 {
    height: 158px;
    vertical-align: baseline;
    width: 694px
    }
.zdzgrm_195 {
    height: 160px;
    vertical-align: baseline;
    width: 694px
    }
.zdzgrm_196 {
    height: 285px;
    vertical-align: baseline;
    width: 634px
    }
.zdzgrm_197 {
    height: 190px;
    vertical-align: baseline;
    width: 456px
    }
.zdzgrm_198 {
    height: 103px;
    vertical-align: baseline;
    width: 409px
    }
.zdzgrm_199 {
    height: 216px;
    vertical-align: baseline;
    width: 637px
    }
.zdzgrm_200 {
    height: 64px;
    vertical-align: baseline;
    width: 621px
    }
.zdzgrm_201 {
    height: 314px;
    vertical-align: baseline;
    width: 635px
    }
.zdzgrm_202 {
    height: 486px;
    vertical-align: baseline;
    width: 648px
    }
.zdzgrm_203 {
    height: 246px;
    vertical-align: baseline;
    width: 626px
    }
.zdzgrm_204 {
    height: 242px;
    vertical-align: baseline;
    width: 709px
    }
.zdzgrm_205 {
    height: 150px;
    vertical-align: baseline;
    width: 705px
    }
.zdzgrm_206 {
    height: 288px;
    vertical-align: baseline;
    width: 706px
    }
.zdzgrm_207 {
    height: 185px;
    vertical-align: baseline;
    width: 703px
    }
.zdzgrm_208 {
    height: 127px;
    vertical-align: baseline;
    width: 704px
    }
.zdzgrm_209 {
    height: 417px;
    vertical-align: baseline;
    width: 702px
    }
.zdzgrm_210 {
    height: 223px;
    vertical-align: baseline;
    width: 702px
    }
.zdzgrm_211 {
    height: 189px;
    vertical-align: baseline;
    width: 531px
    }
.zdzgrm_212 {
    height: 106px;
    vertical-align: baseline;
    width: 659px
    }
.zdzgrm_213 {
    height: 443px;
    vertical-align: baseline;
    width: 664px
    }
.zdzgrm_214 {
    height: 65px;
    vertical-align: baseline;
    width: 560px
    }
.zdzgrm_215 {
    height: 381px;
    vertical-align: baseline;
    width: 641px
    }
.zdzgrm_216 {
    height: 63px;
    vertical-align: baseline;
    width: 483px
    }
.zdzgrm_217 {
    height: 623px;
    vertical-align: baseline;
    width: 703px
    }
.zdzgrm_218 {
    height: 95px;
    vertical-align: baseline;
    width: 666px
    }
.zdzgrm_219 {
    height: 194px;
    vertical-align: baseline;
    width: 612px
    }
.zdzgrm_220 {
    height: 384px;
    vertical-align: baseline;
    width: 615px
    }
.zdzgrm_221 {
    height: 131px;
    vertical-align: baseline;
    width: 577px
    }
.zdzgrm_222 {
    display: block;
    margin-bottom: 0;
    margin-left: 12pt;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: -12pt
    }
.zdzgrm_223 {
    height: 263px;
    vertical-align: baseline;
    width: 693px
    }
.zdzgrm_224 {
    height: 270px;
    vertical-align: baseline;
    width: 599px
    }
.zdzgrm_225 {
    height: 213px;
    vertical-align: baseline;
    width: 702px
    }
.zdzgrm_226 {
    height: 219px;
    vertical-align: baseline;
    width: 663px
    }
.zdzgrm_227 {
    height: 248px;
    vertical-align: baseline;
    width: 665px
    }
.zdzgrm_228 {
    height: 415px;
    vertical-align: baseline;
    width: 707px
    }
.zdzgrm_229 {
    height: 196px;
    vertical-align: baseline;
    width: 711px
    }
.zdzgrm_230 {
    height: 168px;
    vertical-align: baseline;
    width: 707px
    }
.zdzgrm_231 {
    height: 305px;
    vertical-align: baseline;
    width: 703px
    }
.zdzgrm_232 {
    height: 352px;
    vertical-align: baseline;
    width: 707px
    }
.zdzgrm_233 {
    height: 337px;
    vertical-align: baseline;
    width: 707px
    }
.zdzgrm_234 {
    height: 250px;
    vertical-align: baseline;
    width: 669px
    }
.zdzgrm_235 {
    height: 81px;
    vertical-align: baseline;
    width: 356px
    }
.zdzgrm_236 {
    height: 82px;
    vertical-align: baseline;
    width: 384px
    }
.zdzgrm_237 {
    height: 87px;
    vertical-align: baseline;
    width: 394px
    }
.zdzgrm_238 {
    height: 92px;
    vertical-align: baseline;
    width: 387px
    }
.zdzgrm_239 {
    height: 85px;
    vertical-align: baseline;
    width: 384px
    }
.zdzgrm_240 {
    height: 99px;
    vertical-align: baseline;
    width: 383px
    }
.zdzgrm_241 {
    height: 355px;
    vertical-align: baseline;
    width: 413px
    }
.zdzgrm_242 {
    height: 336px;
    vertical-align: baseline;
    width: 452px
    }
.zdzgrm_243 {
    height: 339px;
    vertical-align: baseline;
    width: 456px
    }
.zdzgrm_244 {
    height: 95px;
    vertical-align: baseline;
    width: 430px
    }
.zdzgrm_245 {
    height: 246px;
    vertical-align: baseline;
    width: 399px
    }
.zdzgrm_246 {
    height: 323px;
    vertical-align: baseline;
    width: 365px
    }
.zdzgrm_247 {
    height: 318px;
    vertical-align: baseline;
    width: 360px
    }
.zdzgrm_248 {
    height: 324px;
    vertical-align: baseline;
    width: 342px
    }
.zdzgrm_249 {
    height: 331px;
    vertical-align: baseline;
    width: 525px
    }
.zdzgrm_250 {
    height: 101px;
    vertical-align: baseline;
    width: 341px
    }
.zdzgrm_251 {
    height: 241px;
    vertical-align: baseline;
    width: 317px
    }
.zdzgrm_252 {
    height: 325px;
    vertical-align: baseline;
    width: 416px
    }
.zdzgrm_253 {
    height: 230px;
    vertical-align: baseline;
    width: 382px
    }
.zdzgrm_254 {
    height: 88px;
    vertical-align: baseline;
    width: 380px
    }
.zdzgrm_255 {
    height: 332px;
    vertical-align: baseline;
    width: 494px
    }
.zdzgrm_256 {
    height: 338px;
    vertical-align: baseline;
    width: 399px
    }
.zdzgrm_257 {
    height: 324px;
    vertical-align: baseline;
    width: 344px
    }
.zdzgrm_258 {
    height: 328px;
    vertical-align: baseline;
    width: 403px
    }
.zdzgrm_259 {
    height: 100px;
    vertical-align: baseline;
    width: 450px
    }
.zdzgrm_260 {
    height: 650px;
    vertical-align: baseline;
    width: 450px
    }
.zdzgrm_261 {
    height: 166px;
    vertical-align: baseline;
    width: 524px
    }
.zdzgrm_262 {
    height: 86px;
    vertical-align: baseline;
    width: 414px
    }
.zdzgrm_263 {
    height: 249px;
    vertical-align: baseline;
    width: 431px
    }
.zdzgrm_264 {
    height: 244px;
    vertical-align: baseline;
    width: 503px
    }
.zdzgrm_265 {
    height: 92px;
    vertical-align: baseline;
    width: 395px
    }
.zdzgrm_266 {
    height: 82px;
    vertical-align: baseline;
    width: 421px
    }
.zdzgrm_267 {
    height: 82px;
    vertical-align: baseline;
    width: 462px
    }
.zdzgrm_268 {
    height: 82px;
    vertical-align: baseline;
    width: 352px
    }
.zdzgrm_269 {
    height: 86px;
    vertical-align: baseline;
    width: 369px
    }
.zdzgrm_270 {
    display: block;
    margin-bottom: 0;
    margin-left: 24pt;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: -24pt
    }
.zdzgrm_271 {
    height: 247px;
    vertical-align: baseline;
    width: 430px
    }
.zdzgrm_272 {
    height: 82px;
    vertical-align: baseline;
    width: 444px
    }
.zdzgrm_273 {
    height: 324px;
    vertical-align: baseline;
    width: 448px
    }
.zdzgrm_274 {
    height: 301px;
    vertical-align: baseline;
    width: 420px
    }
.zdzgrm_275 {
    height: 87px;
    vertical-align: baseline;
    width: 410px
    }
.zdzgrm_276 {
    height: 244px;
    vertical-align: baseline;
    width: 499px
    }
.zdzgrm_277 {
    height: 329px;
    vertical-align: baseline;
    width: 518px
    }
.zdzgrm_278 {
    height: 241px;
    vertical-align: baseline;
    width: 416px
    }
.zdzgrm_279 {
    height: 89px;
    vertical-align: baseline;
    width: 337px
    }
.zdzgrm_280 {
    height: 332px;
    vertical-align: baseline;
    width: 390px
    }
.zdzgrm_281 {
    height: 252px;
    vertical-align: baseline;
    width: 470px
    }
.zdzgrm_282 {
    height: 88px;
    vertical-align: baseline;
    width: 338px
    }
.zdzgrm_283 {
    height: 241px;
    vertical-align: baseline;
    width: 332px
    }
.zdzgrm_284 {
    height: 321px;
    vertical-align: baseline;
    width: 436px
    }
.zdzgrm_285 {
    height: 400px;
    vertical-align: baseline;
    width: 700px
    }
.zdzgrm_286 {
    height: 341px;
    vertical-align: baseline;
    width: 527px
    }
.zdzgrm_287 {
    height: 316px;
    vertical-align: baseline;
    width: 449px
    }
.zdzgrm_288 {
    height: 166px;
    vertical-align: baseline;
    width: 392px
    }
.zdzgrm_289 {
    height: 168px;
    vertical-align: baseline;
    width: 459px
    }
.zdzgrm_290 {
    height: 469px;
    vertical-align: baseline;
    width: 703px
    }
.zdzgrm_291 {
    height: 920px;
    vertical-align: baseline;
    width: 709px
    }
.zdzgrm_292 {
    height: 1092px;
    vertical-align: baseline;
    width: 708px
    }
.zdzgrm_293 {
    height: 1086px;
    vertical-align: baseline;
    width: 707px
    }
.zdzgrm_294 {
    height: 1085px;
    vertical-align: baseline;
    width: 706px
    }
.zdzgrm_295 {
    height: 1086px;
    vertical-align: baseline;
    width: 705px
    }
.zdzgrm_296 {
    height: 900px;
    vertical-align: baseline;
    width: 708px
    }
.zdzgrm_297 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3pt;
    text-align: center;
    text-indent: 2em
    }
.zdzgrm_299 {
    height: 133px;
    vertical-align: baseline;
    width: 643px
    }
.zdzgrm_300 {
    height: 286px;
    vertical-align: baseline;
    width: 507px
    }
.zdzgrm_301 {
    height: 95px;
    vertical-align: baseline;
    width: 379px
    }
.zdzgrm_302 {
    height: 102px;
    vertical-align: baseline;
    width: 426px
    }
.zdzgrm_303 {
    height: 229px;
    vertical-align: baseline;
    width: 702px
    }
.zdzgrm_304 {
    height: 135px;
    vertical-align: baseline;
    width: 566px
    }
.zdzgrm_305 {
    height: 265px;
    vertical-align: baseline;
    width: 651px
    }
.zdzgrm1 {
    display: block
    }
.zdzgrm2 {
    font-size: 1.29167em;
    line-height: 1.2
    }
.zdzgrm4 {
    display: table-row;
    vertical-align: middle
    }
.zdzgrm5 {
    display: table-cell;
    font-weight: bold;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    vertical-align: inherit
    }
.zdzgrm6 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.zdzgrm7 {
  /*  font-size: 0.75em;*/
    line-height: normal;
   /* vertical-align: sub*/
    }
.zdzgrm8 {
  /*  font-size: 0.83333em*/
    }
.zdzgrm9 {
    /*font-size: 1.2em*/
    }
.mbp_pagebreak {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    page-break-after: always
    }
.underline {
    text-decoration: underline
    }
